---
# override general server configuration for vagrant environment here.

# get development server url
{{ project_name_nodash }}_server_name: "{{ project_name_nodash }}.{{'{{'+project_name_nodash+'_server_ip}}'}}.xip.io"
