# see options: http://docs.ansible.com/ansible/intro_configuration.html

[defaults]
inventory = hosts
roles_path = roles/
nocows = 0
cow_selection = random
retry_files_enabled = 0
host_key_checking = 0

{% if project_ssh_pipelining %}
[ssh_connection]
pipelining = 1
{% endif %}
