# {{ project_name }}

## Synopsis

Synopsis...

## Description

Description...

## Dependencies

Dependencies to Roles are configured for the ``ansible-galaxy install`` command in
**requirements.yml**.

```sh
# Install required roles with ansible-galaxy
ansible-galaxy install --role-file requirements.yml
```

```sh
# Update required roles with ansible-galaxy
ansible-galaxy install --role-file requirements.yml --ignore-errors --force
```

## Author information

<!Author Name> @<!email_prefix> <!email_suffix>


<!-- vim: set nofen ts=4 sw=4 et: -->
